/db/*.sqlite3-journal
!/log/.keep
!.keep
*.DS_Store
*.swo
*.swp
*.dump
*.rdb
/.bundle
/.env
/.env.development
/.foreman
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/public/uploads
/tags
/tmp/*
.rspec
.ruby-version
