---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=25&screen_name=luizrogeriocn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="yWIrXTA3c44lSlRLX2qXNPF8s", oauth_nonce="a34174a2472fdb21476ea2c1782b71d2",
        oauth_signature="ahjK4RieBpqJamhAIG1QJHi7Wl8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1461450672", oauth_token="90389288-pCfVUt0q4FkunaFjAZKkZdXcHd0kJ5fICIVjx5t0K",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 23 Apr 2016 22:31:11 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 1726fad847f3c7c3982f9a42228e15c1
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1461451571'
      X-Response-Time:
      - '251'
      X-Transaction:
      - 14b6ecc38a2bb164
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Sat Apr 23 01:33:50 +0000 2016","id":723686284712140800,"id_str":"723686284712140800","text":"&lt;script&gt;alert(''Hi'')&lt;\/script&gt;","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"truncated":false,"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":90389288,"id_str":"90389288","name":"Luiz
        Rogerio","screen_name":"luizrogeriocn","location":"Brazil","description":"Software
        engineering student. Always trying to learn something new, and always willing
        to help others learn too!","url":"http:\/\/t.co\/rmsuWXAgD8","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/rmsuWXAgD8","expanded_url":"http:\/\/luizrogeriocn.blogspot.com","display_url":"luizrogeriocn.blogspot.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":83,"friends_count":179,"listed_count":2,"created_at":"Mon
        Nov 16 13:08:09 +0000 2009","favourites_count":7,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":110,"lang":"pt","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000769274542\/9d76686adea2e92f5d1f71ef39ef269a_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000769274542\/9d76686adea2e92f5d1f71ef39ef269a_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/90389288\/1385024817","profile_link_color":"009999","profile_sidebar_border_color":"EEEEEE","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Wed
        Apr 20 02:47:29 +0000 2016","id":722617657359536128,"id_str":"722617657359536128","text":"I
        just beat The Sequel to SQL. Spoiler Alert: All the tables join forces  https:\/\/t.co\/rT9LA1CGb4","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/rT9LA1CGb4","expanded_url":"https:\/\/www.codeschool.com\/courses\/the-sequel-to-sql","display_url":"codeschool.com\/courses\/the-se\u2026","indices":[74,97]}]},"tr[...]
