@import 'bourbon';
@import 'neat';
@import 'base/base';
@import 'login_box';
@import 'flash_message';
@import 'home/search_bar';
@import 'home/comments';
@import 'home/stats';
@import 'home/hover_tile';

$mobile: new-breakpoint(max-width 680px); $desktop: new-breakpoint(min-width 1280px);

section {
  margin-bottom: 2em;

  @include outer-container;
  @include span-columns(8);
  @include shift(2);

  @include media($desktop){
    @include outer-container;
    @include span-columns(6);
    @include shift(3);
  }

  @include media($mobile) {
    @include outer-container;
    @include span-columns(12);
  }
}

section.search {
  margin-top: 2em;
}

a.logout {
  float: right;
  color: gray;
  margin-right: 5px;
}
